{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 編輯廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">編輯廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data" action="">

            <div class="row mb-3">
                <label for="title" class="col-form-label">租屋廣告標題:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ ad.title }}" required><br>
            </div>

            <div class="row mb-3">
                <label for="rent_lower" class="col-form-label">月租金:</label>
                <div class="col-2">
                    <input type="number" class="form-control" id="rent_lower" name="rent_lower" required><br>
                </div>

                <label for="rent_upper" class="col-form-label">~</label>
                <div class="col-2">
                    <input type="number" class="form-control" id="rent_upper" name="rent_upper" required><br>
                </div>
                <label class="col-form-label">元</label>
            </div>

            <div class="row mb-3">
                <div class="col-2">
                    <label for="addr" class="col-form-label">地址:</label>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" id="addr" name="addr" required><br>
                </div>
            </div>

            <label for="suite_num">套房總數:</label>
            <input type="number" id="suite_num" name="suite_num" required><br>

            <label for="room_num">雅房總數:</label>
            <input type="number" id="room_num" name="room_num" required><br>

            <label for="suite_empty">空套房數量:</label>
            <input type="number" id="suite_empty" name="suite_empty" required><br>

            <label for="room_empty">空雅房數量:</label>
            <input type="number" id="room_empty" name="room_empty" required><br>

            <label for="suite_size">套房坪數:</label>
            <input type="number" id="suite_size" name="suite_size" required><br>

            <label for="room_size">雅房坪數:</label>
            <input type="number" id="room_size" name="room_size" required><br>

            <label for="building_type">房屋類型:</label>
            <input type="text" id="building_type" name="building_type" required><br>

            <label for="building_age">屋齡:</label>
            <input type="number" id="building_age" name="building_age" required><br>

            <label for="floor1">樓:</label>
            <input type="number" id="floor1" name="floor1" required><br>

            <label for="floor2">層:</label>
            <input type="number" id="floor2" name="floor2" required><br>

            <label for="size">坪數:</label>
            <input type="number" id="size" name="size" required><br>

            <label for="rental_type">出租類型:</label>
            <input type="text" id="rental_type" name="rental_type" required><br>

            <label for="electricity_meter">有無獨立電表:</label>
            <input type="radio" id="electricity_meter_yes" name="electricity_meter" value="True" required>
            <label for="electricity_meter_yes">是</label>
            <input type="radio" id="electricity_meter_no" name="electricity_meter" value="False">
            <label for="electricity_meter_no">否</label><br>


            <label for="partition_material">隔間材質:</label>
            <input type="text" id="partition_material" name="partition_material" required><br>

            <label for="deposit">押金:</label>
            <input type="text" id="deposit" name="deposit" required><br>

            <label for="sex_limit">性別要求:</label>
            <input type="text" id="sex_limit" name="sex_limit" required><br>

            <label for="identity_limit">身分要求:</label>
            <input type="text" id="identity_limit" name="identity_limit" required><br>

            <label for="others_fee">其他費用:</label>
            <input type="text" id="others_fee" name="others_fee" required><br>

            <label for="smoke">無菸租屋:</label>
            <input type="radio" id="smoke_yes" name="smoke" value="True" required>
            <label for="smoke_yes">是</label>
            <input type="radio" id="smoke_no" name="smoke" value="False">
            <label for="smoke_no">否</label><br>


            <label>屋內設備:</label><br>
            <div>沙發</div>
            <input type="radio" id="sofa_yes" name="sofa" value="True" required>
            <label for="sofa_yes">有</label>
            <input type="radio" id="sofa_no" name="sofa" value="False">
            <label for="sofa_no">無</label><br>

            <div>電話</div>
            <input type="radio" id="telephone_yes" name="telephone" value="True" required>
            <label for="telephone_yes">有</label>
            <input type="radio" id="telephone_no" name="telephone" value="False">
            <label for="telephone_no">無</label><br>

            <div>書櫃</div>
            <input type="radio" id="bookcase_yes" name="bookcase" value="True" required>
            <label for="bookcase_yes">有</label>
            <input type="radio" id="bookcase_no" name="bookcase" value="False">
            <label for="bookcase_no">無</label><br>

            <div>衣櫃</div>
            <input type="radio" id="wardrobe_yes" name="wardrobe" value="True" required>
            <label for="wardrobe_yes">有</label>
            <input type="radio" id="wardrobe_no" name="wardrobe" value="False">
            <label for="wardrobe_no">無</label><br>

            <div>中央空調</div>
            <input type="radio" id="central_air_conditioning_yes" name="central_air_conditioning" value="True" required>
            <label for="central_air_conditioning_yes">有</label>
            <input type="radio" id="central_air_conditioning_no" name="central_air_conditioning" value="False">
            <label for="central_air_conditioning_no">無</label><br>

            <div>光纖網路</div>
            <input type="radio" id="fiber_optic_network_yes" name="fiber_optic_network" value="True" required>
            <label for="fiber_optic_network_yes">有</label>
            <input type="radio" id="fiber_optic_network_no" name="fiber_optic_network" value="False">
            <label for="fiber_optic_network_no">無</label><br>

            <div>洗衣機</div>
            <input type="radio" id="washing_machine_yes" name="washing_machine" value="True" required>
            <label for="washing_machine_yes">有</label>
            <input type="radio" id="washing_machine_no" name="washing_machine" value="False">
            <label for="washing_machine_no">無</label><br>

            <div>單人床</div>
            <input type="radio" id="single_bed_yes" name="single_bed" value="True" required>
            <label for="single_bed_yes">有</label>
            <input type="radio" id="single_bed_no" name="single_bed" value="False">
            <label for="single_bed_no">無</label><br>

            <div>脫水機</div>
            <input type="radio" id="dehydrator_yes" name="dehydrator" value="True" required>
            <label for="dehydrator_yes">有</label>
            <input type="radio" id="dehydrator_no" name="dehydrator" value="False">
            <label for="dehydrator_no">無</label><br>

            <div>第四台</div>
            <input type="radio" id="cable_television_yes" name="cable_television" value="True" required>
            <label for="cable_television_yes">有</label>
            <input type="radio" id="cable_television_no" name="cable_television" value="False">
            <label for="cable_television_no">無</label><br>

            <div>烘乾機</div>
            <input type="radio" id="dryer_yes" name="dryer" value="True" required>
            <label for="dryer_yes">有</label>
            <input type="radio" id="dryer_no" name="dryer" value="False">
            <label for="dryer_no">無</label><br>

            <div>書桌(椅)</div>
            <input type="radio" id="desk_and_chair_yes" name="desk_and_chair" value="True" required>
            <label for="desk_and_chair_yes">有</label>
            <input type="radio" id="desk_and_chair_no" name="desk_and_chair" value="False">
            <label for="desk_and_chair_no">無</label><br>

            <div>電冰箱</div>
            <input type="radio" id="refrigerator_yes" name="refrigerator" value="True" required>
            <label for="refrigerator_yes">有</label>
            <input type="radio" id="refrigerator_no" name="refrigerator" value="False">
            <label for="refrigerator_no">無</label><br>

            <div>雙人床</div>
            <input type="radio" id="double_bed_yes" name="double_bed" value="True" required>
            <label for="double_bed_yes">有</label>
            <input type="radio" id="double_bed_no" name="double_bed" value="False">
            <label for="double_bed_no">無</label><br>

            <div>飲水機</div>
            <input type="radio" id="water_dispenser_yes" name="water_dispenser" value="True" required>
            <label for="water_dispenser_yes">有</label>
            <input type="radio" id="water_dispenser_no" name="water_dispenser" value="False">
            <label for="water_dispenser_no">無</label><br>

            <div>電視機</div>
            <input type="radio" id="television_yes" name="television" value="True" required>
            <label for="television_yes">有</label>
            <input type="radio" id="television_no" name="television" value="False">
            <label for="television_no">無</label><br>

            <div>冷氣機</div>
            <input type="radio" id="air_conditioner_yes" name="air_conditioner" value="True" required>
            <label for="air_conditioner_yes">有</label>
            <input type="radio" id="air_conditioner_no" name="air_conditioner" value="False">
            <label for="air_conditioner_no">無</label><br>

            <div>檯燈</div>
            <input type="radio" id="table_lamp_yes" name="table_lamp" value="True" required>
            <label for="table_lamp_yes">有</label>
            <input type="radio" id="table_lamp_no" name="table_lamp" value="False">
            <label for="table_lamp_no">無</label><br>

            <div>寬頻網路</div>
            <input type="radio" id="broadband_network_yes" name="broadband_network" value="True" required>
            <label for="broadband_network_yes">有</label>
            <input type="radio" id="broadband_network_no" name="broadband_network" value="False">
            <label for="broadband_network_no">無</label><br>


            <label>公共設施:</label><br>
            <div>每層樓滅火器及煙霧偵測器及監視器</div>
            <input type="radio" id="fire_extinguishers_smoke_detectors_and_monitors_per_floor_yes" name="fire_extinguishers_smoke_detectors_and_monitors_per_floor" value="True" required>
            <label for="fire_extinguishers_smoke_detectors_and_monitors_per_floor_yes">有</label>
            <input type="radio" id="fire_extinguishers_smoke_detectors_and_monitors_per_floor_no" name="fire_extinguishers_smoke_detectors_and_monitors_per_floor" value="False">
            <label for="fire_extinguishers_smoke_detectors_and_monitors_per_floor_no">無</label><br>

            <div>停車場</div>
            <input type="radio" id="parking_lot_yes" name="parking_lot" value="True" required>
            <label for="parking_lot_yes">有</label>
            <input type="radio" id="parking_lot_no" name="parking_lot" value="False">
            <label for="parking_lot_no">無</label><br>

            <div>廚房</div>
            <input type="radio" id="kitchen_yes" name="kitchen" value="True" required>
            <label for="kitchen_yes">有</label>
            <input type="radio" id="kitchen_no" name="kitchen" value="False">
            <label for="kitchen_no">無</label><br>

            <div>晒衣場</div>
            <input type="radio" id="laundry_area_yes" name="laundry_area" value="True" required>
            <label for="laundry_area_yes">有</label>
            <input type="radio" id="laundry_area_no" name="laundry_area" value="False">
            <label for="laundry_area_no">無</label><br>

            <div>停車場電梯</div>
            <input type="radio" id="parking_lot_elevator_yes" name="parking_lot_elevator" value="True" required>
            <label for="parking_lot_elevator_yes">有</label>
            <input type="radio" id="parking_lot_elevator_no" name="parking_lot_elevator" value="False">
            <label for="parking_lot_elevator_no">無</label><br>

            <div>公共陽台</div>
            <input type="radio" id="public_balcony_yes" name="public_balcony" value="True" required>
            <label for="public_balcony_yes">有</label>
            <input type="radio" id="public_balcony_no" name="public_balcony" value="False">
            <label for="public_balcony_no">無</label><br>

            <div>中庭</div>
            <input type="radio" id="courtyard_yes" name="courtyard" value="True" required>
            <label for="courtyard_yes">有</label>
            <input type="radio" id="courtyard_no" name="courtyard" value="False">
            <label for="courtyard_no">無</label><br>

            <div>電梯</div>
            <input type="radio" id="elevator_yes" name="elevator" value="True" required>
            <label for="elevator_yes">有</label>
            <input type="radio" id="elevator_no" name="elevator" value="False">
            <label for="elevator_no">無</label><br>

            <div>光纖網路</div>
            <input type="radio" id="fiber_optic_network_2_yes" name="fiber_optic_network_2" value="True" required>
            <label for="fiber_optic_network_2_yes">有</label>
            <input type="radio" id="fiber_optic_network_2_no" name="fiber_optic_network_2" value="False">
            <label for="fiber_optic_network_2_no">無</label><br>

            <div>中庭停車場</div>
            <input type="radio" id="courtyard_parking_lot_yes" name="courtyard_parking_lot" value="True" required>
            <label for="courtyard_parking_lot_yes">有</label>
            <input type="radio" id="courtyard_parking_lot_no" name="courtyard_parking_lot" value="False">
            <label for="courtyard_parking_lot_no">無</label><br>

            <div>交誼廳</div>
            <input type="radio" id="lounge_yes" name="lounge" value="True" required>
            <label for="lounge_yes">有</label>
            <input type="radio" id="lounge_no" name="lounge" value="False">
            <label for="lounge_no">無</label><br>


            <label>熱水器:</label><br>
            <div>電熱水器</div>
            <input type="radio" id="electric_water_heater_yes" name="electric_water_heater" value="True" required>
            <label for="electric_water_heater_yes">有</label>
            <input type="radio" id="electric_water_heater_no" name="electric_water_heater" value="False">
            <label for="electric_water_heater_no">無</label><br>

            <div>瓦斯熱水器</div>
            <input type="radio" id="gas_water_heater_yes" name="gas_water_heater" value="True" required>
            <label for="gas_water_heater_yes">有</label>
            <input type="radio" id="gas_water_heater_no" name="gas_water_heater" value="False">
            <label for="gas_water_heater_no">無</label><br>

            <div>太陽能熱水器</div>
            <input type="radio" id="solar_water_heater_yes" name="solar_water_heater" value="True" required>
            <label for="solar_water_heater_yes">有</label>
            <input type="radio" id="solar_water_heater_no" name="solar_water_heater" value="False">
            <label for="solar_water_heater_no">無</label><br>

            <div>天然瓦斯</div>
            <input type="radio" id="natural_gas_yes" name="natural_gas" value="True" required>
            <label for="natural_gas_yes">有</label>
            <input type="radio" id="natural_gas_no" name="natural_gas" value="False">
            <label for="natural_gas_no">無</label><br>

            <div>桶裝瓦斯</div>
            <input type="radio" id="bottled_gas_yes" name="bottled_gas" value="True" required>
            <label for="bottled_gas_yes">有</label>
            <input type="radio" id="bottled_gas_no" name="bottled_gas" value="False">
            <label for="bottled_gas_no">無</label><br>

            <label>安全設施:</label><br>

            <div>逃生梯</div>
            <input type="radio" id="escape_ladder_yes" name="escape_ladder" value="True" required>
            <label for="escape_ladder_yes">有</label>
            <input type="radio" id="escape_ladder_no" name="escape_ladder" value="False">
            <label for="escape_ladder_no">無</label><br>

            <div>保全人員</div>
            <input type="radio" id="security_personnel_yes" name="security_personnel" value="True" required>
            <label for="security_personnel_yes">有</label>
            <input type="radio" id="security_personnel_no" name="security_personnel" value="False">
            <label for="security_personnel_no">無</label><br>

            <div>緩降梯</div>
            <input type="radio" id="slow_descend_device_yes" name="slow_descend_device" value="True" required>
            <label for="slow_descend_device_yes">有</label>
            <input type="radio" id="slow_descend_device_no" name="slow_descend_device" value="False">
            <label for="slow_descend_device_no">無</label><br>

            <div>一氧化碳警報器</div>
            <input type="radio" id="carbon_monoxide_detector_yes" name="carbon_monoxide_detector" value="True" required>
            <label for="carbon_monoxide_detector_yes">有</label>
            <input type="radio" id="carbon_monoxide_detector_no" name="carbon_monoxide_detector" value="False">
            <label for="carbon_monoxide_detector_no">無</label><br>

            <div>電用熱水器斷電設備</div>
            <input type="radio" id="electric_water_heater_power_cut_off_device_yes" name="electric_water_heater_power_cut_off_device" value="True" required>
            <label for="electric_water_heater_power_cut_off_device_yes">有</label>
            <input type="radio" id="electric_water_heater_power_cut_off_device_no" name="electric_water_heater_power_cut_off_device" value="False">
            <label for="electric_water_heater_power_cut_off_device_no">無</label><br>

            <div>瓦斯熱水器強制排氣設備</div>
            <input type="radio" id="gas_water_heater_forced_exhaust_device_yes" name="gas_water_heater_forced_exhaust_device" value="True" required>
            <label for="gas_water_heater_forced_exhaust_device_yes">有</label>
            <input type="radio" id="gas_water_heater_forced_exhaust_device_no" name="gas_water_heater_forced_exhaust_device" value="False">
            <label for="gas_water_heater_forced_exhaust_device_no">無</label><br>

            <div>滅火器</div>
            <input type="radio" id="fire_extinguisher_yes" name="fire_extinguisher" value="True" required>
            <label for="fire_extinguisher_yes">有</label>
            <input type="radio" id="fire_extinguisher_no" name="fire_extinguisher" value="False">
            <label for="fire_extinguisher_no">無</label><br>

            <div>偵煙設備</div>
            <input type="radio" id="smoke_detector_yes" name="smoke_detector" value="True" required>
            <label for="smoke_detector_yes">有</label>
            <input type="radio" id="smoke_detector_no" name="smoke_detector" value="False">
            <label for="smoke_detector_no">無</label><br>

            <div>逃生路線暢通及標示</div>
            <input type="radio" id="escape_route_clear_and_marked_yes" name="escape_route_clear_and_marked" value="True" required>
            <label for="escape_route_clear_and_marked_yes">有</label>
            <input type="radio" id="escape_route_clear_and_marked_no" name="escape_route_clear_and_marked" value="False">
            <label for="escape_route_clear_and_marked_no">無</label><br>

            <div>照明設備</div>
            <input type="radio" id="lighting_equipment_yes" name="lighting_equipment" value="True" required>
            <label for="lighting_equipment_yes">有</label>
            <input type="radio" id="lighting_equipment_no" name="lighting_equipment" value="False">
            <label for="lighting_equipment_no">無</label><br>

            <div>監視錄影設備(系統)</div>
            <input type="radio" id="surveillance_system_yes" name="surveillance_system" value="True" required>
            <label for="surveillance_system_yes">有</label>
            <input type="radio" id="surveillance_system_no" name="surveillance_system" value="False">
            <label for="surveillance_system_no">無</label><br>

            <div>門禁系統</div>
            <input type="radio" id="access_control_system_yes" name="access_control_system" value="True" required>
            <label for="access_control_system_yes">有</label>
            <input type="radio" id="access_control_system_no" name="access_control_system" value="False">
            <label for="access_control_system_no">無</label><br>

            <div>消防系統</div>
            <input type="radio" id="firefighting_system_yes" name="firefighting_system" value="True" required>
            <label for="firefighting_system_yes">有</label>
            <input type="radio" id="firefighting_system_no" name="firefighting_system" value="False">
            <label for="firefighting_system_no">無</label><br>


            <label>證明文件:</label><br>
            <div>房東身分證明文件</div>
            <input type="radio" id="landlord_identification_documents_yes" name="landlord_identification_documents" value="True" required>
            <label for="landlord_identification_documents_yes">有</label>
            <input type="radio" id="landlord_identification_documents_no" name="landlord_identification_documents" value="False">
            <label for="landlord_identification_documents_no">無</label><br>

            <div>委託書</div>
            <input type="radio" id="power_of_attorney_yes" name="power_of_attorney" value="True" required>
            <label for="power_of_attorney_yes">有</label>
            <input type="radio" id="power_of_attorney_no" name="power_of_attorney" value="False">
            <label for="power_of_attorney_no">無</label><br>

            <div>房屋所有權狀</div>
            <input type="radio" id="property_ownership_certificate_yes" name="property_ownership_certificate" value="True" required>
            <label for="property_ownership_certificate_yes">有</label>
            <input type="radio" id="property_ownership_certificate_no" name="property_ownership_certificate" value="False">
            <label for="property_ownership_certificate_no">無</label><br>

            <div>房屋稅單</div>
            <input type="radio" id="property_tax_bill_yes" name="property_tax_bill" value="True" required>
            <label for="property_tax_bill_yes">有</label>
            <input type="radio" id="property_tax_bill_no" name="property_tax_bill" value="False">
            <label for="property_tax_bill_no">無</label><br>

            <label>安全訪評:</label><br>

            <div>符合教育部安全訪評規範</div>
            <input type="radio" id="meets_ministry_of_education_safety_standards_yes" name="meets_ministry_of_education_safety_standards" value="True" required>
            <label for="meets_ministry_of_education_safety_standards_yes">有</label>
            <input type="radio" id="meets_ministry_of_education_safety_standards_no" name="meets_ministry_of_education_safety_standards" value="False">
            <label for="meets_ministry_of_education_safety_standards_no">無</label><br>

            <label for="building_type">屋況說明:</label>
            <textarea id="description" name="description" required></textarea><br>





            <div class="form-group">
                <label for="title">上傳圖片</label>
                <input type="file"  name="filename" multiple accept=".png, .jpg, .gif">
            </div>

            <button type="submit">提交</button>
        </form>
    </div>
{% endblock content %}