{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 租屋廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">租屋廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <style>
        .card:hover {
            transform: scale(1.005);
            transition: transform 0.2s;
            background-color: rgb(255, 242, 215);
            cursor: pointer;
        }
        .hidden {
            display: none;
        }
    </style>
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
        function toggleLayout(layout) {
            document.getElementById('grid-layout').classList.toggle('hidden', layout !== 'grid');
            document.getElementById('list-layout').classList.toggle('hidden', layout !== 'list');
        }
    </script>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary mr-2" onclick="toggleLayout('grid')">Grid View</button>
            <button class="btn btn-secondary" onclick="toggleLayout('list')">List View</button>
        </div>    
        <br>
        <div id="grid-layout">
            <div class="row">
                {% for ad in ads.items %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow" onclick="redirectTo('{{ url_for('rental_advertisement.advertisement', adid=ad.id) }}')">
                        {% set image_urls = ad.image_urls.split(',') %}
                        <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + image_urls.0) }}" alt="房屋圖片">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.title }}</h5>
                            <p class="card-text">{{ ad.addr }}</p>
                            <p class="card-text">價格：NT${{ ad.rent_lower }}~{{ ad.rent_upper }} / 月</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="list-layout" class="hidden">
            <div class="row">
                <!-- 廣告卡片範例 -->
                {% for ad in ads.items %}
                <div class="col-md-12 mb-4">
                    <div class="card shadow" onclick="redirectTo('{{ url_for('rental_advertisement.advertisement', adid=ad.id) }}')">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% set image_urls = ad.image_urls.split(',') %}
                                <img class="card-img" src="{{ url_for('static', filename='uploads/' + image_urls[0].strip()) }}" alt="房屋圖片">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ ad.title }}</h5>
                                    <p class="card-text">{{ ad.addr }}</p>
                                    <p class="card-text">價格：NT${{ ad.rent_lower }}~{{ ad.rent_upper }} / 月</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- 分頁 -->
        <div class="ads-paginate">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if ads.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('rental_advertisement.index', page=ads.prev_num) }}" aria-label="Previous">
                                <span aria-hidden="true">上一頁</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">上一頁</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% for page_num in ads.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                        {% if page_num %}
                            {% if page_num == ads.page %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ page_num }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('rental_advertisement.index', page=page_num) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if ads.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('rental_advertisement.index', page=ads.next_num) }}" aria-label="Next">
                                <span aria-hidden="true">下一頁</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">下一頁</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
    </div>
{% endblock content %}
