{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 租屋廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">租屋廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <div class="container">
        <div class="row mb-4">
            <!-- Left Side -->
            <div class="col-md-6">
                <div class="content mb-2" id="content-1">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-warning mb-2">
                                        {{ ad.title }}
                                    </div>
                                    <table class="table table-bordered font-weight-bold text-gray-800">
                                        {% set bool_dict = {True:'有', False:'無'}%}
                                        <tr>
                                            <th scope="row"class="table-warning"width="25%">租金(月)</th>
                                            <th scope="row" colspan="3">{{ ad.rent_lower }}~{{ ad.rent_upper }} 元</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">地址</th>
                                            <th scope="row" colspan="3">{{ ad.addr }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">建物類型</th>
                                            <th scope="row"width="25%">{{ ad.building_type }}</th>
                                            <th scope="row"class="table-warning"width="25%">屋齡(年)</th>
                                            <th scope="row">{{ ad.building_age }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">套房(間)</th>
                                            <th scope="row">{{ ad.suite }}</th>
                                            <th scope="row"class="table-warning">雅房(間)</th>
                                            <th scope="row">{{ ad.room }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">限租條件</th>
                                            <th scope="row" colspan="3">{{ ad.rental_limit }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">獨立電表</th>
                                            <th scope="row">{{ bool_dict[ad.electricity_meter] }}</th>
                                            <th scope="row"class="table-warning">洗衣機</th>
                                            <th scope="row">{{ bool_dict[ad.wash_machine] }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-warning">飲水機</th>
                                            <th scope="row">{{ bool_dict[ad.water_dispenser] }}</th>
                                            <th scope="row"class="table-warning">網路</th>
                                            <th scope="row">{{ bool_dict[ad.internet] }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">停車位</th>
                                            <th scope="row">{{ bool_dict[ad.parking] }}</th>
                                            <th scope="row"class="table-warning">冷氣</th>
                                            <th scope="row">{{ bool_dict[ad.air_con] }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row"class="table-warning">熱水器</th>
                                            <th scope="row">{{ bool_dict[ad.water_heater] }}</th>
                                            <th scope="row"class="table-warning">無菸租屋</th>
                                            <th scope="row">
                                                {% if ad.smoke == True %}
                                                是
                                                {% else %}
                                                否
                                                {% endif %}
                                            </th>
                                        </tr>
                                    </table>
                                    <table class="table table-bordered font-weight-bold text-gray-800 mb-0">
                                        <tr>
                                            <th scope="col"class="table-warning">屋況說明</th>
                                        </tr>
                                        <tr>
                                            
                                            <th scope="row"colspan="3">{{ ad.description }}</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content mb-2" id="content-2">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-warning mb-2">
                                        <i class="fas fa-address-card"></i>
                                        房東資料
                                    </div>
                                    <table class="table table-bordered font-weight-bold text-gray-800 mb-0">
                                        <tr>
                                            <td scope="row"class="table-warning"width="30%">姓名</td>
                                            <td scope="row"class="table-light"width="70%">{{ landlord.name }}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"class="table-warning"width="30%">連絡電話</td>
                                            <td scope="row"class="table-light"width="70%">{{ landlord.tel }}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"class="table-warning"width="30%">Email</td>
                                            <td scope="row"class="table-light"width="70%">{{ landlord.email }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            {% set image_urls = ad.image_urls.split(',') %}
            <div class="col-md-6">
                <div class="content mb-2" id="content-3">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 font-weight-bold text-warning mb-2">
                                        <i class="fas fa-image"></i>
                                        房屋照片
                                    </div>
                                    <!-- Carousel -->
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% for index in range(image_urls|length) %}
                                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}" class="{% if index == 0 %}active{% endif %}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for url in image_urls %}
                                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                                <img class="d-block w-100" src="{{ url_for('static', filename='uploads/' + url.strip()) }}" alt="Slide {{ loop.index }}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
{% endblock content %}