{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 審核廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">審核廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <div class="container">
        {% for ad in ads %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ ad.title }}</h5>
                <p class="card-text">{{ ad.addr }}</p>
                <p class="card-text">{{ ad.rent }}</p>
                <p class="card-text">描述: 優質社區</p>
            </div>
        </div>
        <div class="mt-4">
            <form method="POST" action="/approve_ad">
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <button type="submit" class="btn btn-success">核准</button>
            </form>
            <form method="POST" action="/reject_ad" class="d-inline">
                <input type="hidden" name="ad_id" value="{{ ad.id }}">
                <button type="submit" class="btn btn-danger">駁回</button>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
