{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 審核廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">審核廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(size=32, class="form-control") }}
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.rent.label }}
                {{ form.rent(class="form-control") }}
                {% for error in form.rent.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.addr.label }}
                {{ form.addr(class="form-control") }}
                {% for error in form.addr.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.building_type.label }}
                {{ form.building_type(class="form-control") }}
                {% for error in form.building_type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.building_age.label }}
                {{ form.building_age(class="form-control") }}
                {% for error in form.building_age.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.suite.label }}
                {{ form.suite(class="form-control") }}
                {% for error in form.suite.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.room.label }}
                {{ form.room(class="form-control") }}
                {% for error in form.room.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.rental_limit.label }}
                {{ form.rental_limit(class="form-control") }}
                {% for error in form.rental_limit.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.electricity_meter.label }}
                {% for subfield in form.electricity_meter %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.electricity_meter.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <!-- </div> -->
            <!-- <div class="form-group"> -->
                {{ form.wash_machine.label }}
                {% for subfield in form.wash_machine %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.wash_machine.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.water_dispenser.label }}
                {% for subfield in form.water_dispenser %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.water_dispenser.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.internet.label }}
                {% for subfield in form.internet %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.internet.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.parking.label }}
                {% for subfield in form.parking %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.parking.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-check form-check-inline">
                {{ form.air_con.label }}
                {% for subfield in form.air_con %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.air_con.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.water_heater.label }}
                {% for subfield in form.water_heater %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.water_heater.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.smoke.label }}
                {% for subfield in form.smoke %}
                <tr>
                    <td>{{ subfield(class="form-check-input") }}</td>
                    <td>{{ subfield.label(class="form-check-label") }}</td>
                </tr>
                {% endfor %}
                {% for error in form.smoke.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="title">上傳圖片</label>
                <input type="file"  name="filename" multiple accept=".png, .jpg, .gif">
            </div>
            <p>
                <input type="submit" name="action" value="核准" />
                <input type="submit" name="action" value="駁回" />
            </p>
        </form>
    </div>
{% endblock content %}