{% extends "base.html" %} <!-- 繼承父樣板 base.html -->

<!-- 瀏覽器頁籤上的字 -->
{% block title %} 審核廣告 {% endblock title %}

<!-- 該頁面的標題 -->
{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">審核廣告</h1>
    </div>
{% endblock heading %}

<!-- 主要內容 -->
{% block content %}
    <div class="container">
        {% for ad in ads %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h4 class="m-0 font-weight-bold text-info">編號：{{ ad.id }}</h4>
                        <a class="collapse-item" href="{{ url_for('rental_advertisement.review_advertisement_detail', adid=ad.id) }}">審核</a>
                    </div>
                    <div class="card-body">
                        <h5 class="">廣告標題：{{ ad.title }}</h5>
                        <h5 class="">申請日期：{{ ad.timestamp }}</h5>
                        {% if ad.status == 0 %}
                        <div class="text-warning">狀態：待審核</div>
                        {% elif ad.status == 1 %}
                        <div class="text-warning">狀態：通過</div>
                        {% elif ad.status == 0 %}
                        <div class="text-warning">狀態：駁回</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
