{% extends "home.html" %}

{% block title %} 填寫住宿資料 {% endblock title%}

{% block heading %}
<div class="d-sm-flex align-items-center justify-content-between">
    <span class="h3 mb-0 text-gray-800 font-weight-bold">填寫住宿資料</span>
</div>
{% endblock heading %}

{% block content%}

<!-- 管理員 -->
{% if current_user.type == 'administrator' %}
    {% for item in data %}
        <form action="{{url_for('accommodation_management.update')}}" method="post">
            <label for="id">學號:</label>
            <input type="text" id="id" name="id" value="{{item.id}}" required>
            <label for="semester">學年/學期:</label>
            <input type="text" id="semester" name="semester" value="{{item.semester}}" placeholder="XXX/X" required>
            <label for="where_to_live">住宿地:</label>
            <select id="where_to_live" name="where_to_live" required>
                <option value="0" {% if item.where_to_live == 0 %} selected {% endif %}>住家裡</option>
                <option value="1" {% if item.where_to_live == 1 %} selected {% endif %}>寄居親友家</option>
                <option value="2" {% if item.where_to_live == 2 %} selected {% endif %}>住校</option>
                <option value="3" {% if item.where_to_live == 3 %} selected {% endif %}>在外租屋</option>
            </select>
            <label for="addr">住宿地址:</label>
            <input type="text" id="addr" name="addr" value="{{item.addr}}" required>
            <label for="landlord_name">房東姓名:</label>
            <input type="text" id="landlord_name" name="landlord_name" value="{{item.landlord_name}}" required>
            <label for="landlord_tel">房東電話:</label>
            <input type="text" id="landlord_tel" name="landlord_tel" value="{{item.landlord_tel}}" required>
            <label for="rent">租金:</label>
            <input type="text" id="rent" name="rent" value="{{item.rent}}" required>
            <label for="roommate_id">同住室友學號:</label>
            <input type="text" id="roommate_id" name="roommate_id" value="{{item.roommate_id}}" required>
            <input type="submit" value="送出">
        </form>
        <hr>
    {% endfor %}
{% endif %}

<!-- 老師 -->
{% if current_user.type == 'advisor' %}
    {% for item in data %}
        <div>
            <p>學號: {{item.id}}</p>
            <p>學年/學期: {{item.semester}}</p>
            <p>住宿地: {% if item.where_to_live == 0 %} 住家裡 {% elif item.where_to_live == 1 %} 寄居親友家 {% elif item.where_to_live == 2 %} 住校 {% elif item.where_to_live == 3 %} 在外租屋 {% endif %}</p>
            <p>住宿地址: {{item.addr}}</p>
            <p>房東姓名: {{item.landlord_name}}</p>
            <p>房東電話: {{item.landlord_tel}}</p>
            <p>租金: {{item.rent}}</p>
            <p>同住室友學號: {{item.roommate_id}}</p>
        </div>
        <hr>
    {% endfor %}
{% endif %}

<!-- 學生 -->
{% if current_user.type == 'student' %}
    <form action="{{url_for('accommodation_management.update')}}" method="post">
        <label for="id">學號:</label>
        <input type="text" id="id" name="id" value="{{data.id}}" required>
        <label for="semester">學年/學期:</label>
        <input type="text" id="semester" name="semester" value="{{data.semester}}" placeholder="XXX/X">
        <label for="where_to_live">住宿地:</label>
        <select id="where_to_live" name="where_to_live" required>
            <option value="0" {% if data.where_to_live == 0 %} selected {% endif %}>住家裡</option>
            <option value="1" {% if data.where_to_live == 1 %} selected {% endif %}>寄居親友家</option>
            <option value="2" {% if data.where_to_live == 2 %} selected {% endif %}>住校</option>
            <option value="3" {% if data.where_to_live == 3 %} selected {% endif %}>在外租屋</option>
        </select>
        <label for="addr">住宿地址:</label>
        <input type="text" id="addr" name="addr" value="{{data.addr}}">
        <label for="landlord_name">房東姓名:</label>
        <input type="text" id="landlord_name" name="landlord_name" value="{{data.landlord_name}}">
        <label for="landlord_tel">房東電話:</label>
        <input type="text" id="landlord_tel" name="landlord_tel" value="{{data.landlord_tel}}">
        <label for="rent">租金:</label>
        <input type="text" id="rent" name="rent" value="{{data.rent}}">
        <label for="roommate_id">同住室友學號:</label>
        <input type="text" id="roommate_id" name="roommate_id" value="{{data.roommate_id}}">
        <input type="submit" value="送出">
    </form>
{% endif %}
{% endblock content%}