{% extends "home.html" %}

{% block title %} 刪除使用者 {% endblock title %}

{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between">
        <span class="h3 mb-0 text-gray-800 font-weight-bold">刪除使用者</span>
    </div>
{% endblock heading %}

{% block content %}
    {% from "AIMS/macro_update_information.html" import update_information %}
    {{ update_information(deleteForm, 'delete', 'delete_user.delete_form', back='search_user_information.delete_search_form') }}
{% endblock content %}