<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/NUK_icon.bmp') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center">註冊基本資料</h2>
            <form id="registerForm" method="POST" action="{{ url_for('land_lord_register.register') }}">
                {{ registerForm.hidden_tag() }}

                <div class="form-group">
                    {{ registerForm.id.label(class="form-label") }}
                    {{ registerForm.id(class="form-control", id="user_id") }}
                    {#                    <label for="user_id">帳號(使用者ID)</label>#}
                    {#                    <input type="text" class="form-control" id="user_id" name="user_id" required>#}
                </div>
                <div class="form-group">
                    {{ registerForm.name.label(class="form-label") }}
                    {{ registerForm.name(class="form-control", id="name") }}
                    {#                    <label for="name">名稱</label>#}
                    {#                    <input type="text" class="form-control" id="name" name="name" required>#}
                </div>
                <div class="form-group">
                    {{ registerForm.passwd.label(class="form-label password") }}
                    {{ registerForm.passwd(class="form-control", id="password") }}
                    {#                    <label for="password">密碼設置</label>#}
                    {#                    <input type="password" class="form-control" id="password" name="password" required>#}
                </div>
                <div class="form-group">
                    {{ registerForm.confirm_passwd.label(class="form-label") }}
                    {{ registerForm.confirm_passwd(class="form-control", id="confirm_password") }}
                    {#                    <label for="confirm_password">確認密碼</label>#}
                    {#                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>#}
                </div>
                <div class="form-group">
                    {{ registerForm.tel.label(class="form-label tel") }}
                    {{ registerForm.tel(class="form-control", id="tel") }}
                    {#                    <label for="tel">行動電話</label>#}
                    {#                    <input type="text" class="form-control" id="tel" name="tel" required>#}
                </div>

                {# email error #}
                {% if registerForm.email.errors %}
                    <div class="help-block text-danger">
                        {{ registerForm.email.errors[0] }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ registerForm.email.label(class="form-label email") }}
                    {{ registerForm.email(class="form-control", id="email") }}
                    {#                    <label for="email">電子郵件</label>#}
                    {#                    <input type="email" class="form-control" id="email" name="email" required>#}
                </div>

                <button type="button" class="btn btn-danger mb-5"
                        onclick="window.location.href='{{ url_for('login_management.login') }}'">取消
                </button>

                {{ registerForm.submit(class="btn btn-primary mb-5" , id="registerButton") }}
                {#                <button type="button" class="btn btn-info mb-5" id="registerButton">註冊完成</button>#}
            </form>

            {# flash message #}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="mt-3">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} text-center">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

        </div>
    </div>
</div>

{#<script>#}
{#    document.getElementById('registerButton').addEventListener('click', function () {#}
{#        Swal.fire({#}
{#            title: '確認是否註冊？',#}
{#            icon: 'question',#}
{#            showCancelButton: true,#}
{#            confirmButtonColor: '#3085d6',#}
{#            cancelButtonColor: '#d33',#}
{#            confirmButtonText: '是',#}
{#            cancelButtonText: '否'#}
{#        }).then((result) => {#}
{#            if (result.isConfirmed) {#}
{#                var user_id = document.getElementById('user_id').value;#}
{#                var name = document.getElementById('name').value;#}
{#                var password = document.getElementById('password').value;#}
{#                var confirm_password = document.getElementById('confirm_password').value;#}
{#                var tel = document.getElementById('tel').value;#}
{#                var email = document.getElementById('email').value;#}
{##}
{#                // 檢查必填項是否都填寫#}
{#                if (user_id === '' || name === '' || password === '' || confirm_password === '' || tel === '' || email === '') {#}
{#                    Swal.fire({#}
{#                        icon: 'error',#}
{#                        title: 'Oops...',#}
{#                        text: '請填寫完成所有基本資料'#}
{#                    });#}
{#                } else if (password !== confirm_password) {#}
{#                    Swal.fire({#}
{#                        icon: 'error',#}
{#                        title: 'Oops...',#}
{#                        text: '您輸入的密碼不一致，請重新輸入'#}
{#                    }).then(() => {#}
{#                        document.getElementById('password').value = '';#}
{#                        document.getElementById('confirm_password').value = '';#}
{#                    });#}
{#                } else {#}
{##}
{#                    $.ajax({#}
{#                        type: 'POST',#}
{#url: '/check_user_id',#}
{#                        data: {user_id: user_id},#}
{#                        success: function (response) {#}
{#                            if (response.exists) {#}
{#                                Swal.fire({#}
{#                                    icon: 'error',#}
{#                                    title: 'Oops...',#}
{#                                    text: '該帳號已經被註冊過'#}
{#                                }).then(() => {#}
{#                                    document.getElementById('user_id').value = '';#}
{#                                });#}
{#                            } else {#}
{#                                document.getElementById('registerForm').submit();#}
{#                            }#}
{#                        },#}
{#                        error: function () {#}
{#                            Swal.fire({#}
{#                                icon: 'error',#}
{#                                title: 'Oops...',#}
{#                                text: '該帳號已經被註冊過'#}
{#                            });#}
{#                        }#}
{#                    });#}
{#                }#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
</body>
</html>
