{% macro create_user(form, form_type, submit_function) %}
    {# flash message #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row justify-content-center">
                    <div class="mt-3 col-6 text-center">
                        <h3 class="alert alert-{{ category }} text-center">{{ message }}</h3>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {# form_title #}
    {% if form %}
        {% set title = "新增" %}
        {% if form_type == 'create' %}
            {% if form.type.data == 'administrator' %}
                {% set title = title + "管理員" %}
            {% elif form.type.data == 'advisor' %}
                {% set title = title + "導師" %}
            {% elif form.type.data == 'student' %}
                {% set title = title + "學生" %}
            {% elif form.type.data == 'landlord' %}
                {% set title = title + "房東" %}
            {% else %}
                {% set title = title + "使用者" %}
            {% endif %}
        {% elif form_type == 'register' %}
            {% set title = "房東註冊基本資料" %}
        {% else %}
            {% set title = "表單格式錯誤" %}
        {% endif %}

        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <h2 class="text-center">{{ title }}</h2>
                    {% if form_type == 'create' %}
                        <form method="POST" action="{{ url_for(submit_function, user_type=form.type.data) }}">
                    {% elif form_type == 'register' %}
                        <form method="POST" action="{{ url_for(submit_function) }}">
                    {% endif %}
                    {{ form.hidden_tag() }}

                    {# User #}
                    {# User.id #}
                    {# User.id.error #}
                    {% if form.id.errors %}
                        <div class="help-block  text-danger">
                            {{ form.id.errors[0] }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.id.label(class="form-label") }}
                        {{ form.id(class="form-control") }}
                    </div>

                    {# User.name #}
                    {# User.name.error #}
                    {% if form.name.errors %}
                        <div class="help-block text-danger">
                            {{ form.name.errors[0] }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>

                    {# User.passwd #}
                    {# User.passwd.error #}
                    {% if form.passwd.errors %}
                        <div class="help-block text-danger">
                            {{ form.passwd.errors[0] }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.passwd.label(class="form-label") }}
                        {{ form.passwd(class="form-control") }}
                    </div>

                    {# register #}
                    {% if form_type == 'register' %}
                        {# User.confirm_passwd #}
                        <div class="form-group">
                            {{ form.confirm_passwd.label(class="form-label") }}
                            {{ form.confirm_passwd(class="form-control") }}
                        </div>
                    {% endif %}

                    {# User.tel #}
                    {# User.tel.error #}
                    {% if form.tel.errors %}
                        <div class="help-block text-danger">
                            {{ form.tel.errors[0] }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.tel.label(class="form-label") }}
                        {{ form.tel(class="form-control") }}
                    </div>

                    {# User.email #}
                    {# User.email error #}
                    {% if form.email.errors %}
                        <div class="help-block text-danger">
                            {{ form.email.errors[0] }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>

                    {# Advisor #}
                    {% if form.type.data == 'advisor' %}
                        {# Advisor.dept #}
                        {# Advisor.dept.error #}
                        {% if form.dept.errors %}
                            <div class="help-block text-danger">
                                {{ form.dept.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.dept.label(class="form-label") }}
                            {{ form.dept(class="form-control") }}
                        </div>

                        {# Advisor.rank #}
                        {# Advisor.rank.error #}
                        {% if form.rank.errors %}
                            <div class="help-block text-danger">
                                {{ form.rank.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.rank.label(class="form-label") }}
                            {{ form.rank(class="form-control") }}
                        </div>

                        {# Advisor.office_addr #}
                        {# Advisor.office_addr.error #}
                        {% if form.office_addr.errors %}
                            <div class="help-block text-danger">
                                {{ form.office_addr.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.office_addr.label(class="form-label") }}
                            {{ form.office_addr(class="form-control") }}
                        </div>

                        {# Advisor.office_tel #}
                        {# Advisor.office_tel.error #}
                        {% if form.office_tel.errors %}
                            <div class="help-block text-danger">
                                {{ form.office_tel.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.office_tel.label(class="form-label") }}
                            {{ form.office_tel(class="form-control") }}
                        </div>

                    {% endif %}

                    {# Student #}
                    {% if form.type.data == 'student' %}
                        {# Student.dept #}
                        {# Student.dept.error #}
                        {% if form.dept.errors %}
                            <div class="help-block text-danger">
                                {{ form.dept.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.dept.label(class="form-label") }}
                            {{ form.dept(class="form-control") }}
                        </div>

                        {# Student.enroll_year #}
                        {# Student.enroll_year.error #}
                        {% if form.enroll_year.errors %}
                            <div class="help-block text-danger">
                                {{ form.enroll_year.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.enroll_year.label(class="form-label") }}
                            {{ form.enroll_year(class="form-control") }}
                        </div>

                        {# Student.sex #}
                        {# Student.sex.error #}
                        {% if form.sex.errors %}
                            <div class="help-block text-danger">
                                {{ form.sex.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.sex.label(class="form-label") }}
                            {{ form.sex(class="form-control") }}
                        </div>

                        {# Student.home_addr #}
                        {# Student.home_addr.error #}
                        {% if form.home_addr.errors %}
                            <div class="help-block text-danger">
                                {{ form.home_addr.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.home_addr.label(class="form-label") }}
                            {{ form.home_addr(class="form-control") }}
                        </div>

                        {# Student.home_tel #}
                        {# Student.home_tel.error #}
                        {% if form.home_tel.errors %}
                            <div class="help-block  text-danger">
                                {{ form.home_tel.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.home_tel.label(class="form-label") }}
                            {{ form.home_tel(class="form-control") }}
                        </div>

                        {# Student.contact_name #}
                        {# Student.contact_name.error #}
                        {% if form.contact_name.errors %}
                            <div class="help-block text-danger">
                                {{ form.contact_name.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.contact_name.label(class="form-label") }}
                            {{ form.contact_name(class="form-control") }}
                        </div>

                        {# Student.contact_tel #}
                        {# Student.contact_tel.error #}
                        {% if form.contact_tel.errors %}
                            <div class="help-block text-danger">
                                {{ form.contact_tel.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.contact_tel.label(class="form-label") }}
                            {{ form.contact_tel(class="form-control") }}
                        </div>

                        {# Student.advisor_id #}
                        {# Student.advisor_id.error #}
                        {% if form.advisor_id.errors %}
                            <div class="help-block text-danger">
                                {{ form.advisor_id.errors[0] }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.advisor_id.label(class="form-label") }}
                            {{ form.advisor_id(class="form-control") }}
                        </div>
                    {% endif %}

                    <button type=" button" class="btn btn-danger mb-5"
                            onclick="window.location.href='{{ url_for(kwargs['back']) }}'">返回
                    </button>

                    {{ form.submit(class="btn btn-primary mb-5" ) }}
                    </form>

                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
