{% extends "home.html" %}

{% block title %} 修改使用者資料 {% endblock title %}

{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between">
        <span class="h3 mb-0 text-gray-800 font-weight-bold">修改使用者資料</span>
    </div>
{% endblock heading %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center">查詢欲修改的使用者</h2>
                <form method="POST" action="{{ url_for('search_user_information.search_form') }}">
                    {{ searchForm.hidden_tag() }}
                    <div class="form-group">
                        {{ searchForm.id(class='form-control', placeholder='請輸入使用者ID') }}
                    </div>
                    <div class="text-center">
                        {{ searchForm.submit(class='btn btn-primary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}