{% extends "home.html" %}

{% block title %} 重置密碼 {% endblock %}

{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between">
        <span class="h3 mb-0 text-gray-800 font-weight-bold">重置密碼</span>
    </div>
{% endblock heading %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-header text-center">
                        <h4>重置密碼</h4>
                    </div>
                    <div class="card-body">
                        <!-- Flash messages block -->
                        <div id="flash-messages">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} alert-dismissible fade show"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>

                        <form method="POST" action="{{ url_for('update_personal_information.update_password') }}"
                              onsubmit="return validateForm()">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.old_password.label(class="form-label") }}
                                {{ form.old_password(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.new_password.label(class="form-label") }}
                                {{ form.new_password(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-label") }}
                                {{ form.confirm_password(class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-success btn-block">變更密碼</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function validateForm() {
            let oldPassword = document.querySelector('input[name="old_password"]').value;
            let newPassword = document.querySelector('input[name="new_password"]').value;
            let confirmPassword = document.querySelector('input[name="confirm_password"]').value;

            // Clear previous alerts
            let flashMessages = document.getElementById('flash-messages');
            flashMessages.innerHTML = '';

            // Check if old password is incorrect
            if (oldPassword === "") {
                showAlert('danger', '請輸入原本的密碼');
                return false;
            }

            // Check if new password matches confirm password
            if (newPassword !== confirmPassword) {
                showAlert('danger', '輸入的密碼不一致，請重新輸入');
                return false;
            }

            // Check if new password is the same as old password
            if (newPassword === oldPassword) {
                showAlert('danger', '新密碼與原密碼一樣，請再重新輸入');
                return false;
            }

            return true;
        }

        function showAlert(type, message) {
            let alertPlaceholder = document.createElement('div');
            alertPlaceholder.className = 'alert alert-' + type + ' alert-dismissible fade show';
            alertPlaceholder.role = 'alert';
            alertPlaceholder.innerHTML = message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
            document.getElementById('flash-messages').append(alertPlaceholder);
        }
    </script>
{% endblock %}
